<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${titulo}"></title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>

	<!-- Acá estoy reutilizando un componente de HTML creado en otra parte (Parecido a componentes de ANGULAR) -->
	<div th:replace="componentes/header :: componenteHeader"></div>

	<div class="container">

		<br><br><br><br>

		<div class="row">
			<div class="col-md-1"></div>

			<div class="col-md-10">
				<h3 class="text-center"><i class="fas fa-user-tie"></i> Inyección de dependencias desde el modelo para formulario</h3>
				
				<br><hr><br>
				
					<h3><i class="far fa-plus-square"></i> Agregar usuario</h3>
					<hr>
					<label><i class="fas fa-address-book"></i> Nombre: </label>
					<br>
					<input type="text" class="form-control" placeholder="Escriba su nombre acá..." th:value="${listaFormulario.get(0)}">
					<br>
					<label><i class="fas fa-address-book"></i> Apellido: </label>
					<br>
					<input type="text" class="form-control" placeholder="Escriba su apellido acá..." th:value="${listaFormulario.get(1)}">
					<br>
					<label><i class="far fa-envelope"></i> Correo: </label>
					<br>
					<input type="email" class="form-control" placeholder="Escriba su correo acá..." th:value="${listaFormulario.get(2)}">
					<br>
					<label><i class="far fa-building"></i> Departamento: </label>
					<br>
					<select name="select" class="form-control">
					  <option th:value="${listaFormulario.get(3)}" th:text="${listaFormulario.get(3)}"></option>
					  <option th:value="${listaFormulario.get(4)}" th:text="${listaFormulario.get(4)}"></option>
					  <option th:value="${listaFormulario.get(5)}" th:text="${listaFormulario.get(5)}"></option>
					  <option th:value="${listaFormulario.get(6)}" th:text="${listaFormulario.get(6)}"></option>
					  <option th:value="${listaFormulario.get(7)}" th:text="${listaFormulario.get(7)}"></option>
					  <option th:value="${listaFormulario.get(8)}" th:text="${listaFormulario.get(8)}"></option>
					  <option th:value="${listaFormulario.get(9)}" th:text="${listaFormulario.get(9)}"></option>
					</select>
					<br>
					<a th:href="@{/app/formulario}"><button class="btn btn-success form-control"><i class="far fa-plus-square"></i> Agregar Usuario</button></a>
				
				
				<hr><br>
				<a th:href="@{/app/index}">Volver</a>
				
			</div>

			<div class="col-md-1"></div>
		</div>

	</div>
	
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>