<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title th:text="${index}"></title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
	
	<!-- Acá estoy reutilizando un componente de HTML creado en otra parte (Parecido a componentes de ANGULAR) -->
	<div th:replace="componentes/header :: componenteHeader"></div>

	<div class="container">
		<br><br><br><br>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3 class="text-center"><i class="fas fa-address-book"></i> Rutas en Spring </h3>
				<br><hr>

				<table class="table" th:if="${listaUsuariosBD.size() > 0}">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col"><i class="far fa-address-card"></i> Nombre</th>
							<th scope="col"><i class="far fa-address-card"></i> Apellido</th>
							<th scope="col"><i class="fas fa-at"></i> Correo</th>
							<th scope="col"><i class="fas fa-align-center"></i> Fecha</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p , iStat :  ${listaUsuariosBD}">
							<td th:text="${iStat.count}"></td>
							<td th:text="${p.nombre}"></td>
							<td th:text="${p.apellido}"></td>
							<td th:text="${p.email}"></td>
							<td th:text="${p.createAt}"></td>
						</tr>
					</tbody>
				</table>
				
				
				<hr>
				<a th:href="@{/app/index}">Volver</a>
				
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
