<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${titulo}"></title>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
			
			
			
			<form th:action="@{/app/procesarLoggin}" th:object="${acceso}" method="post">
				<br><br><br><br><br><br><br><br>
				<h3 class="text-center"><i class="fas fa-key"></i> Ingrese sus credenciales:</h3>
				<hr><br>
				<!-- Ojo que si no coloco todos los campos que vienen desde la clase entity no funciona el databinding , por eso dejo el id oculto -->
				<input type="hidden" th:field="*{id}">
				<label><i class="far fa-envelope-open"></i> Correo Electrónico</label><br>
				<input type="text" class="form-control" placeholder="Escriba su correo acá"  th:field="*{email}" required>
				<br>
				<label><i class="fas fa-unlock-alt"></i> Password</label><br>
				<input type="password" class="form-control" placeholder="Escriba su contraseña acá" th:field="*{pass}" required>
				<br>
				<button class="btn btn-success form-control"><i class="fas fa-door-open"></i> Ingresar</button>
				<br><br><hr>
			</form>
			
			
			<div th:if="${errorCredenciales}" class="alert alert-danger text-center"><i class="fas fa-times"></i> Credenciales incorrectas</div>
				
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>