<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${titulo}"></title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>

	<!-- Acá estoy reutilizando un componente de HTML creado en otra parte (Parecido a componentes de ANGULAR) -->
	<div th:replace="componentes/header :: componenteHeader"></div>

	<div class="container">

		<br><br><br><br>

		<div class="row">
			<div class="col-md-2"></div>

			<div class="col-md-8">
				<h3 class="text-center"><i class="fas fa-address-book"></i> Vista con parametros</h3>
				<br>
				<span th:text="${parametro}"></span>
				<br><br>
				<a th:href="@{/app/}">Volver</a>
			</div>

			<div class="col-md-2"></div>
		</div>

	</div>

<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>